*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  padding-top: 140px;
  background-color: #fefcff;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar-nav * {
  background: linear-gradient(0deg, slateblue, slateblue) no-repeat right
    bottom/0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
}

.navbar-nav *:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

.navbar-nav * {
  padding-bottom: 2px;
  --bg-h: 2px;
}

.socialbtn li {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

.socialbtn li,
.socialbtn a {
  height: 52px;
  display: block;
}

.instabtn {
  left: 0px;
  width: 53px;
  background: url(/butoanetop.png);
  background-position: 0 0;
}

.btn-galerie {
  padding: 10px 50px;
  font-size: 20px;
  font-weight: 600;
  background: none;
  border-radius: 10px;
}

.btn-galerie:hover {
  background: black;
  color: white;
}

.link-galerie:visited {
  color: black;
}

.btn-galerie a:hover {
  color: white;
}

.container-btn-galerie {
  margin-bottom: 50px;
}

.btn.btn-secondary {
  position: absolute;
  top: 0;
  right: 0;
}

.wabtn {
  left: 63px;
  width: 53px;
  background: url(/butoanetop.png);
  background-position: -60px 0;
}

.fbbtn {
  left: 126px;
  width: 53px;
  background: url(/butoanetop.png);
  background-position: -118px 0;
}

.instabtn a:hover {
  background: url(/butoanetop.png);
  background-position: 0 -61px;
}

.wabtn a:hover {
  left: 60px;
  width: 50px;
  background: url(/butoanetop.png);
  background-position: -60px -61px;
}

.fbbtn a:hover {
  left: 120px;
  width: 50px;
  background: url(/butoanetop.png);
  background-position: -118px -61px;
}

@media screen and (max-width: 960px) {
  .socialbtn {
    display: none;
  }
}

.toggler {
  margin-left: auto;
  margin-right: 1em;
}

.carousel-inner {
  width: 100% !important;
}

.carousel-inner img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  height: 84vh;
  overflow: hidden;
  width: 100%;
}

.carousel-item:before {
  content: "";
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  display: block;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.carouselh3,
.carouselp {
  z-index: 100;
  display: block;
  position: relative;
}

.carouselh3 {
  -webkit-animation: fadeInDown;
  animation: fadeInDown;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.carouselp {
  -webkit-animation: fadeInUp;
  animation: fadeInUp;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes move {
  from {
    transform: scale(1, 1);
    -ms-transform: scale(1, 1); /* IE 9 */
    -webkit-transform: scale(1, 1); /* Safari and Chrome */
    -o-transform: scale(1, 1); /* Opera */
    -moz-transform: scale(1, 1); /* Firefox */
  }
  to {
    transform: scale(1.05, 1.05);
    -ms-transform: scalescale(1.05, 1.05); /* IE 9 */
    -webkit-transform: scalescale(1.05, 1.05); /* Safari and Chrome */
    -o-transform: scalescale(1.05, 1.05); /* Opera */
    -moz-transform: scale(1.05, 1.05); /* Firefox */
  }
}

@keyframes move {
  from {
    transform: scale(1, 1);
    -ms-transform: scale(1, 1); /* IE 9 */
    -webkit-transform: scale(1, 1); /* Safari and Chrome */
    -o-transform: scale(1, 1); /* Opera */
    -moz-transform: scale(1, 1); /* Firefox */
  }
  to {
    transform: scale(1.05, 1.05);
    -ms-transform: scalescale(1.05, 1.05); /* IE 9 */
    -webkit-transform: scalescale(1.05, 1.05); /* Safari and Chrome */
    -o-transform: scalescale(1.05, 1.05); /* Opera */
    -moz-transform: scale(1.05, 1.05); /* Firefox */
  }
}

.carousel-inner img {
  -webkit-animation: move 7s ease infinite;
  animation: move 7s ease infinite;
}
.carouselh3 {
  color: #fff;
  animation: fadeInRight 1.3s ease-in-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}

.carouselp {
  color: #fff;
  animation: fadeInLeft 1.3s ease-in-out;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
  }
}

.carousel-caption {
  margin-top: auto !important;
  margin-bottom: 5em;
}

@media (min-width: 768px) {
  .carouselh3 {
    font-size: 2.5rem;
  }
  .carouselp {
    font-size: 1.5rem;
  }
}

footer {
  color: white;
  text-align: center;
}

.footer-container {
  padding-top: 20px;
  padding-bottom: 5px;
}

.divider {
  padding: 24px;
}

.container-servicii img {
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-servicii {
  text-align: center;
}

.container-servicii h2{font-size: 1.5em;}
.img-preturi {
  border-radius: 100%;
}


.tex-pret h3,.pret{font-size: 1.2em;
  }


.dotdiv {
  border-bottom: dotted 2px rgba(160, 145, 145, 0.76);
  width: 100%;
  float: left;
  position: relative;
  display: none;
  margin: auto !important;
 
}

.dotdiv:first-child,
.dotdiv:last-child {
  float: left;
}

@media (min-width: 768px) {
  .dotdiv {
    display: block;
  }
}

.img-mentiuni {
  height: auto;
}

@media (max-width: 768px) {
  .img-mentiuni-wrapper {
    display: none;
  }
}

.info-socials {
  display: flex;
  justify-content: center;
  gap: 1.3em;
}

.reguli li {
  margin-top: 0.5em;
}

.recent-row {
  margin: 2em 0;
  display: flex;
  flex-wrap: wrap;
}

.recent-col {
  flex: 100%;
  max-width: 100%;
  margin-top: 0.5em;
}

@media (min-width: 600px) {
  .recent-col {
    flex: 50%;
    max-width: 50%;
    padding: 0 0.3em;
  }
  .recent-col img {
    min-height: 100%;
    filter: grayscale(1);
  }
  .recent-col img:hover {
    filter: none !important;
    transition-duration: 0.3s;
  }
}

@media (min-width: 1000px) {
  .recent-col {
    flex: 33.3%;
    max-width: 33.3%;
    padding: 0 0.3em;
  }
  .recent-col img {
     transition: transform .5s, filter 1.5s ease-in-out;
  filter: grayscale(100%);
  }
  .recent-col img:hover {
    filter: none !important;
    transition-duration: 0.3s;
  }
}
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.recent-col img {
  width: 100%;
  vertical-align: middle;
}

.anchor{
  position: relative;
  top:-300px
}

.backToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.row-preturi{
align-items: center;
margin: auto;
}
.row-preturi *{margin: auto;}